*{
	font-family: 'Poiret One', cursive;
}

body {
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background: #596778;
}

form {
	 position:absolute;
    top:25%;
    right:60%;
    left:40%;
}
input {
	margin-left:3em;
}
 #things{
width: 1390px;
height: 400px;


 padding: 10px, 40px; 
	  border-radius: 25px;

margin: 88px;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

background: rgb(255, 255, 255);
}
img {
	margin-left:3em;
}
 #results {
	position:absolute;
    top:15%;
/*     right:60%; */
    left:-6%;
}
#resulttext {
	font-family: 'Roboto Condensed', sans-serif;
}
h2.padding{
	 
    padding-right: -55px;
		padding-left:1005px;
 
}