*{
	font-family: 'Poiret One', cursive;
}

body {
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background: #596778;
}

form {
	 position:absolute;
    top:25%;
    right:60%;
    left:40%;
}
h2.padding{
	 
    padding-right: -55px;
		padding-left:1005px;
 
}
<img style="border:5px solid black">