<!DOCTYPE html>
<html>
	<head>
		<title>YouStyle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    
    <style>
div.relative {
    position: relative;
    left: 30px;
/*     border: 3px solid #8AC007; */
}
</style>
    
	</head>
  
	<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="YouStyle.png">
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/signout">Sign Out</a></li>
       
      </ul>
    </div>
  <h2 class="padding">Hello, <%=@user.username.capitalize%>!</h2>
  </div>
		</nav>
		<div id="things">
    <br>
    <p><center><font size="10">Favorites</font></center></p>
    <br>
		<%@user.favorites.each do |favorite|%>
		<%= favorite.itemid %>
		<%= "#{favorite.convert["brandedName"]}" %>
		<br>
		<% end%>
		</div>
	</body>
</html>