<!DOCTYPE html>
<html>
	<head>
		<title>YouStyle|Discover</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head> 
  <body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="YouStyle.png">
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
   </div>
  </nav>
    
    <form method="post" action="search">
    <p>Style:</p>
    <select name="style">
    
  <option value="casual">Casual</option>
  <option value="formal">Formal</option>
  <option value="active_sportswear">Active Sportswear</option>
<!--   <input type="submit"> -->
</select>
    
    <p>Type:</p>
    <select name="type">
    
  <option value="tshirt">T-shirts</option>
  <option value="jeans">Jeans</option>
  <option value="dress">Dresses</option>
  <option value="skirt">Skirts</option>
<!--   <input type="submit"> -->
</select>
    
    <p>User:</p>
    <select name="user">
      
  <option value="men">Men</option>
  <option value="women">Women</option>
  <option value="children">Children</option>
<!--   <input type="submit"> -->
</select>
    
   Brand:
      <select>
		
		<%@brands.each do |brandhash| %>
			<option>
		<%=brandhash["name"] %>
			</option>
		<% end %>
		
		</select>
      
  Color:
      <select name="color">
      
  <option value="red">Red</option>
  <option value="orange">Orange</option>
  <option value="yellow">Yellow</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
  <option value="purple">Purple</option>
  <option value="pink">Pink</option>
  <option value="brown">Brown</option>
  <option value="black">Black</option>
  <option value="gray">Gray</option>
  <option value="white">White</option>
  
<!--   <input type="submit"> -->
</select>
      
      

  <input type="submit">
      
</form>  
    
 </body>
</html>