<!DOCTYPE html>
<html>
	<head>
		<title>YouStyle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/login.css">
				<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
            <img src="YouStyle.png">

    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
    </nav>
		<center><div class="container">

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
			
  <div id="login-form">
    <h3>Login</h3>
	
			<form method="post" action="/" accept-charset="utf-8">
    <fieldset>

      

        <input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
       

        <input type="submit" value="Login">

        <footer class="clearfix">


        </footer>

      
      </fieldset>
      
    </form>

  </div> <!-- end login-form -->

      </div></center>
  </body>
	
</html>
