<!DOCTYPE html>
<html>
	<head>
		<title>Website!!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link type="text/css" rel="stylesheet" href="css/signup.css">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="YouStyle.png">
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
		</nav>
<!-- 		<form action="/signup"   name="formsignup" method="post" accept-charset="utf-8">
				<input  type="text" name="username" placeholder="Username" require>
			<br><br>
				<select name="gender">
				<option value="male">Male</option>
				<option value="female">Female</option>
				</select>
			<br><br>
				<input  type="password" name="password" placeholder="Password" require>
				<br><br>
			<input type="submit" value="Submit">
						</form> -->
		<form action="/signup" class="sign-up"  name="formsignup" method="post" accept-charset="utf-8">
    <h1 class="sign-up-title">Sign up in seconds</h1>
    <input type="text" name="username" class="sign-up-input" placeholder="What's your username?" autofocus>
    <input type="password" name="password" class="sign-up-input" placeholder="Choose a password">
    <input type="submit" value="Sign me up!" class="sign-up-button">
  </form>
	
  </body>
</html>